<div class="info-top">
    <h3>Services:</h3>
</div>

<div class="container">
  <div class="cards">
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/703016/pexels-photo-703016.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
            <h2><%= "Personal training" %></h2>
          </div>



  </div>
</div>
<%= link_to "view Services", services_path %>
<%= link_to "view Bookings", bookings_path %>