// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");
@import "star-rating.js/dist/star-rating.css";


// TEMPORARY CSS
.btn-dark{
  a {
    text-decoration: none;
    color: white;
  }
}

// Class Image Resisizing http://localhost:3000/services/4
.mb-3 {
  img {
    height: 50vh;
    object-fit: cover;
  }
}

//  HOMEPAGE IMAGE BORDER RADIUS
.col-10 {
  img {
    border-radius: 16px;
  }
}

.top{
  display: flex;
  justify-content: space-between;
  .btn-dark{
    margin-bottom: 10px;
  }
}


.container-2{
  // display: grid;
  //     grid-template-columns: 2fr 1fr;
  //     gap: 32px;
      width: 100%;
}


.pill-button {
  background-color: #67bea5;
  border: none;
  color: rgb(227, 227, 227);
  padding: 4px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-size: small;
  font-weight:600;
  letter-spacing: 2px;
}

.btn-cancel {
  margin: 32px 0px;
  color: rgb(213, 35, 35);
  text-decoration: none;
}

.hidden-container {
  display: none;
  width: 100%;
  margin-bottom: 20px;
}

.hidden-container.active {
  display: block;
}

.map-container {
  width: 100%;
  height: 500px;
  border: 1px solid #ddd;
  margin-top: 10px;
}

.container-review{
  width: 400px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.container-reviews{
  width: 400px;
  margin-top: 40px;
  margin-bottom: 40px;

}
