// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

// TEMPORARY CSS
.btn-dark{
  a {
    text-decoration: none;
    color: white;
  }
}

// Class Image Resisizing http://localhost:3000/services/4
.mb-3 {
  img {
    height: 50vh;
    object-fit: cover;
  }
}

//  HOMEPAGE IMAGE BORDER RADIUS
.col-10 {
  img {
    border-radius: 16px;
  }
}

.top{
  display: flex;
  justify-content: space-between;
  .btn-dark{
    margin-bottom: 10px;
  }
}


.container-2{
  // display: grid;
  //     grid-template-columns: 2fr 1fr;
  //     gap: 32px;
      width: 100%;
}

.hidden-container {
  display: none; /* Initially hidden */
  width: 100%; /* Full width of parent */
  margin-bottom: 20px; /* Optional: Add space below */
}

.hidden-container.active {
  display: block; /* Show when toggled */
}

.map-container {
  width: 100%; /* Ensure full width for the map */
  height: 500px; /* Set consistent height for the map */
  border: 1px solid #ddd; /* Optional: Add a border for clarity */
  margin-top: 10px; /* Optional: Add spacing above */
}
